html, body{
    box-sizing: border-box;
    cursor: url(domocursor.cur), auto;
}

body{
    background: url("https://www.insidescience.org/sites/default/files/2020-06/african-savannah_cropped.jpg");
    background-repeat: no-repeat;
    background-size:cover;
}

#pic1{
    border-radius: 50% 50% 0 0;
    width: 100%;
    height: 100%;
    object-fit:cover;
}

div.block{
    position: absolute;
    width: 40%;
    margin: 5px;
    height: 87%;
}

div.leftSide{
    right: 50%;
    padding: 10px;
}

div.rightSide{
    left: 50%;
    height: 90%;
}

#titleBlock{
    background: white;
    border-radius: 50% 0 50% 0;
    font-size: large;
    color: #4F0603;
}

#mainblock1{
    text-align: right;
    height: 50%;
    width: 70%;
    margin-left: auto; 
    margin-right: 0;

}

#mainblock2{
    height: 50%;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }